@import 'normalize.css';
@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Termina", sans-serif;
}

/* fonts face */
@font-face {
    font-family: Termina;
    src: url('./assets/fonts/TerminaTest-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: Termina;
    src: url('./assets/fonts/TerminaTest-Demi.otf');
    font-weight: 600;
}

@font-face {
    font-family: Termina;
    src: url('./assets/fonts/TerminaTest-Heavy.otf');
    font-weight: 800;
}

@font-face {
    font-family: Termina;
    src: url('./assets/fonts/TerminaTest-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: Termina;
    src: url('./assets/fonts/TerminaTest-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Termina;
    src: url('./assets/fonts/TerminaTest-Black.otf');
    font-weight: 900;
}

/* header  */
#header {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

#header :where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary.ant-btn-background-ghost {
    min-width: 140px;
    background-color: #fff;
}

#header :where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary.ant-btn-background-ghost:not(:disabled):hover {
    opacity: 0.9;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 40px;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-select-single .ant-select-selector {
    align-items: center;
    font-family: "Termina", sans-serif;
    font-size: 14px;
    color: #000;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 100%;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-select .ant-select-selection-placeholder {
    color: #000;
    font-weight: 500;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-select-dropdown .ant-select-item {
    font-family: "Termina", sans-serif;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-select-single .ant-select-selector .ant-select-selection-item {
    font-weight: 500;
}

#container :where(.css-dev-only-do-not-override-12jzuas)[class^="ant-btn"], :where(.css-dev-only-do-not-override-12jzuas)[class*=" ant-btn"] {
    font-family: "Termina", sans-serif;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary.ant-btn-background-ghost {
    width: 100%;
    background-color: #fff;
}

#container :where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary.ant-btn-background-ghost:not(:disabled):hover {
    opacity: 0.9;
}

#container .anticon-spin::before, .anticon-spin,
#container .modal-check-icon{
    font-size: 18px;
}

#container #popup-modal :where(.css-dev-only-do-not-override-12jzuas)[class^="ant-btn"], :where(.css-dev-only-do-not-override-12jzuas)[class*=" ant-btn"] {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container #popup-modal :where(.css-dev-only-do-not-override-12jzuas).ant-btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
}

:where(.css-dev-only-do-not-override-12jzuas).ant-modal .ant-modal-footer,
:where(.css-dev-only-do-not-override-12jzuas).ant-modal-confirm .ant-modal-confirm-btns {
    display: flex;
    justify-content: end;
}

